<h2>Appointment</h2>

<%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor_id), method: :get %> <br>
<%= link_to @appointment.patient.name, patient_path(@appointment.patient_id), method: :get %> <br>
<%= @appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %>